body {
  font-size: 16px;
  color: Black;
  font-family: 'arial', sans-serif;
  text-align: center;
}

span {
  font-size: 3em;
  font-weight: bold;
}


/** HEADER **/
#header-nav {
  background-color: lightgrey;
  border-radius: 0;
  border: 0;
}

.Menu-header{
  text-align: center;
  color: royalblue;
  text-shadow: black 1px;
  font-size: 50px;
}


.navbar-brand {
  padding-top: 25px;
}

#Nav-select{
   font-family: 'Lora', serif;
  color: blueviolet;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: seagreen;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}




#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: whitesmoke;
}
#nav-list a span {
  font-size: 1.8em;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid limegreen;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */


/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
 
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
 
  }
  /* End Header */

  /* Home Page */
 
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 
  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

#icontext{
  font-size: 2em;
}

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.4em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
}

section{
  border-width: 1px;
  border: solid black;
  border-width: 90%;
  background-color: lightgrey;
  padding: 3px;
  margin-bottom: 10px;

  ;
}
  /* End Header */

  /* Home Page */
